<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <!--Change the Value to the name of your website-->
    <add key="siteName" value="Site Name"/>
    
    <!--Change the Values to the user/pass for LDAP service-->
    <add key="auth.Username" value="SOME_NAME_GOES_HERE" />
    <add key="auth.Password" value="SOME_PASSWORD_GOES_HERE" />

    <!--For authType use WINDOWS or FORMS or DEV-->
    <add key ="authType" value="DEV"/>
    <!--For userIdType use AD or SAP-->
    <add key ="userIdType" value="AD"/>

    <add key="SignOnUrlForms" value="https://agilesecuresignoon.corp.intranet/?Type=" />
    <add key="SignOnUrlWin" value="http://agilewinsecuresignoon.corp.intranet/?Type=" />
    <add key="SignOnUrlDev" value="http://vgdcwaglas501.corp.intranet/AgileLoginTst/?Type="/>
    <add key="SignOnReturn" value="&amp;ReturnUrl="/>
</appSettings>