<?xml version="1.0"?>
<configuration>
  <appSettings configSource="App_Data\appSettings.config"/>
  <connectionStrings configSource="App_Data\connectionStrings-dev.config"/>
  <system.web>
    <compilation defaultLanguage="C#" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms loginUrl="Secure/Login.aspx" protection="All" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <membership defaultProvider="MyADMembershipProvider">
      <providers>
        <add name="MyADMembershipProvider" type="AdMembershipProvider"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="OracleRoleProvider" cacheRolesInCookie="true" cookieName=".ROLES" createPersistentCookie="false">
      <providers>
        <remove name="OracleRoleProvider"/>
        <add name="OracleRoleProvider" type="ApplicationRoleProvider" connectionStringName="ConnectionString"/>
      </providers>
    </roleManager>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear/>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <location path="Secure/unauthorized.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>